@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;500&display=swap');

:root{
    --fuentePrincipal: 'IBM Plex Sans';
    --fuenteSecundaria: 'IBM Plex Mono';
    --green: #00F3BB;
    --blue: #0000EC;
    --white: #FFFFFF;
    --dark_blue:#060A24;
    --gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,240,184,1) 0%, rgba(0,0,254,1) 100%);
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html{
    font-size: 62.5%;
}

#nav{
    height: 44px;
    width: 100%;
    display: flex;
    background-color: var(--white);
}

.nav__logo{
    height: 44px;
    width: 44px;
    margin: .4rem 1rem;
}

.nav__checkbox{
    display: none;
}

.nav__toggle{
    position: absolute;
    right: 0;
    margin: 1.6rem 1.9rem;
    
}

.close{
    display: none;
}

.nav__section{
    position: absolute;
    top: 44px;
    width: 100vw;
    height: 224px;
    background-color: var(--blue);
    display: none;
    z-index: 1;
}

.nav__menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1.6rem;
}

.nav__menu a{
    display: inline-block;
    width: 100vw;
    height: 28px;
    color: var(--white);
    font-family: var(--fuenteSecundaria);
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    letter-spacing: 0;
    line-height: 28px;
    text-align: center;
    
}

.nav__menu a:hover{
    background-color: var(--green);
    color: var(--dark_blue) ;
}

#nav__checkbox:checked ~ .nav__section {
    display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close{
    display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu{
    display: none;
}



#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 30rem;
    background-color: grey;
    position: relative;
}

.home__tittle{
    position: absolute;
    top: 0;
    margin: 2.9rem 1.6rem;
    font-family: var(--fuentePrincipal);
    font-size: 36px;
    font-weight: 400;
    color: var(--dark_blue);
    letter-spacing: 0;
    line-height: 42px;
}

.home__cross_word{
    font-family: var(--fuentePrincipal);
    font-size: 36px;
    font-weight: 400;
    color: var(--dark_blue);
    letter-spacing: 0;
    line-height: 42px;
    text-decoration: line-through;
}

.home__paragraph{
    position: relative;
    top: 1.6rem;
    font-family: var(--fuenteSecundaria);
    font-size: 14px;
    color: var(--dark_blue);
    letter-spacing: 0;
    line-height: 22px;
    margin: 1.6rem;
}

.home__btn{
    position: absolute;
    top: 21.5rem;
    text-align: center;
    background-color: var(--green);
    display: flex;
    height:4.8rem;
    width: 288px;
    justify-content: center;
    align-items: center;
    margin: 1.6rem 1.6rem 2.4rem;
    padding: 1.3rem 0;
    font-family: var(--fuenteSecundaria);
    font-size: 16px;
    font-weight: 500;
    color: var(--dark_blue);
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    text-transform: uppercase;
}
.home__btn:hover{
    background: var(--gradient);
    color: var(--white);
}